%button {
	font-size: 18px;
	font-weight: 100;
	display: inline-block;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	padding: 12px 20px;
	height: 45px;
	border-radius: 1px;
	width: auto;
	max-width: 350px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	&,
	&:active {
		outline: none;
	}
	&:hover {
		text-decoration: none;
	}
}

.button-one {
	@extend %button;
	color: #fff;
	background-color: $color-one;
	border: none;
	border-radius: 40px;
	&:hover {
		background-color: #999;
	}
	&:active {
		background-color: $color-one;
	}
}

@media (max-width: 700px) {
	%button {
		font-size: 15px;
		height: 40px;
	}
}
