<div class="content">

  <section class="title">
    <h1>Frequently Asked Questions</h1>
  </section>

  <section>
    <div class="grid-6" style="padding-right:10px">
      <p>
        <strong>What is the Globetown programme?</strong>
        <br>
        It is a 10-week programme of study in software development for the web, followed by 4 weeks of working on paid projects.
      </p>
      <span class="space"></span>
      <p>
        <strong>What is the aim of the programme?</strong>
        <br>
        To give students sufficient skills to work as software developers or start a company.
      </p>
      <span class="space"></span>
      <p>
        <strong>What is the structure of the programme?</strong><br>
        It is divided into two parts: a 10-week assisted foundation followed by 4 weeks working on real-world projects, with remote support from professional developers in the UK.
      </p>
      <span class="space"></span>
      <p>
        <strong>How is the foundation course delivered?</strong><br>
        As a full-time classroom-based course running Monday to Friday from 10am to 8pm at Birzeit University.
      </p>
      <span class="space"></span>
      <p>
        <strong>How is the classroom organised?</strong><br>
        Classes are peer-led and project-based with students working in teams of four. Students take turns to deliver seminars, run code reviews and manage projects.
      </p>
      <span class="space"></span>
      <p>
        <strong>What does the curriculum cover?</strong><br>
        Primarily, we cover <em>test-driven</em> development, using <em>JavaScript</em> and <em>Node.js</em>. We also cover aspects of UX design, product management and entrepreneurship.
      </p>
      <span class="space"></span>
      <p>
        <strong>What projects will I work on in the second part of the programme?</strong><br>
        We aim to give you an opportunity to work on a variety of projects, building web and mobile applications for companies in the UK and elsewhere.
      </p>
      <span class="space"></span>
      <p>
        <strong>Will I be able to earn a living as after I complete the programme?</strong><br>
        We cannot offer you any guarantees, but the employment success rate of the London programme is very high. If you work hard, by the end of the course you will be capable of designing and building useful and valuable software. It will be up to you to find a niche in which you will be able to earn a living. We will try to support you in this.
      </p>
      <span class="space"></span>
      <p>
        <strong>What are the main reasons to apply for this programme?</strong><br>
        The quality of the learning experience. The commitment of your fellow students. The network it will bring you.
      </p>
      <span class="space"></span>
      <p>
        <strong>Who is this programme suitable for?</strong><br>
        There are no academic requirements, but you need to be self-motivated, prepared to work long hours, and committed to collaborative working. Coding also requires a deep curiosity about how things work and a certain stubbornness in the face of repeated failure.
      </p>
      <span class="space"></span>
      <p>
        <strong>Why are the prerequisites so tough?</strong><br>
        This programme is challenging and you need to be well-prepared. We aim for a zero drop-out rate, so we need to know that you are serious about becoming a developer before we accept you on to the programme.
      </p>
      <span class="space"></span>
      <p>
        <strong>Who will provide the equipment?</strong><br>
        Laptops and other equipment will be provided by the various partners involved in the project.
      </p>
      <span class="space"></span>
      <p>
        <strong>How much does the programme cost?</strong><br>
        There are no fees, but students and graduates are expected to help us deliver the programme to the next cohort and to contribute to our various community projects. You will also need to cover your own living expenses.
      </p>
      <span class="space"></span>
      <p>
        <strong>How are you supporting yourselves?</strong><br>
        The mentors are professional software developers and may be working remotely on various projects while they teach the course.
      </p>
      <span class="space"></span>
      <p>
        <strong>How can I give something back?</strong><br>
        Almost as soon as you arrive, we will invite you to get involved in helping us run free programmes with the wider community. We would like to run coding workshops for young Palestinians. We may also invite various organisations to provide charitable projects for us to work on, so we can all solve real-world problems as we learn.
      </p>
      <span class="space"></span>
      <p>
        <strong>Why JavaScript?</strong><br>
        We love many languages, including C, Python, Ruby, Perl, Lisp, Go and Haskell, but JavaScript is the language of the Web. You cannot be a front-end Web developer without knowing JavaScript. With the arrival into the mainstream of Node.js, JavaScript is now an excellent choice for back-end Web development. And with new technologies like <em>PhoneGap</em> and now Facebook's <em>React</em> library, it can be used for <em>iPhone</em> and <em>Android</em> development, too. If you want to be a Web developer, JavaScript will be useful to you wherever you go.
      </p>
    </div>
  </section>
</div>
