body {
  margin: 0;
}

* {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, p {
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $color-one;
  }
}

a:visited {
  text-decoration: none;
  &:hover {
    color: $color-one;
  }
}

li {
  list-style: none;
}

h2 {
  font-size: 1.2em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}
