<div class="section-copy">
	<div class="section-portfolio no-padding`">
		<h1>Portfolio</h1>
		<div class="images-container">
			<%- partial("../_partials/portfolio", { "link": "portfolio/africabriefcase", "name": "Africa Briefcase", "company": "Africa Media Lab", "imageStyle": "image-one", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "portfolio/chichester-harbour", "name": "Membership Management", "company": "Chichester Harbour", "imageStyle": "image-four", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "portfolio/stockport", "name": "Suicide Prevention", "company": "Stockport Council", "imageStyle": "image-five", "display": "" }) %>
		</div>
	</div>
</div>
