nav {
	width: 100%;
	height: 20vh;
	min-height: 44px;
	padding: 0 45px;
	position: fixed;
	z-index: 10;
	background-color: rgba(3,3,3, 0);
	-webkit-transition: background-color 500ms ease-out 0.3s;
	-moz-transition: background-color 500ms ease-out 0.3s;
	-o-transition: background-color 500ms ease-out 0.3s;
	transition: background-color 500ms ease-out 0.3s;
	top: 0;
	h2 {
		color: $color-two;
	}
	p {
		float: right;
		line-height: 20vh;
		-webkit-transition:line-height 0.3s;
		-moz-transition:line-height 0.3s;
		-ms-transition:line-height 0.3s;
		-o-transition:line-height 0.3s;
		transition:line-height 0.3s;
	}
	.logo {
		h2 {
			color: $color-one;
			font-size: 35px;
			a {
				font-family: 'Lobster', cursive;
			}
		}
	}
}
.dropdownToggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-settings-dropdown {
	max-width: 500px;
	margin: 0 40px;
	width: 100%;
	opacity: 0;
	z-index: -5;
	-webkit-transition: z-index 0.5s, opacity 0.3s;
	-moz-transition: z-index 0.5s, opacity 0.3s;
	-o-transition: z-index 0.5s, opacity 0.3s;
	transition: z-index 0.5s, opacity 0.3s;
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	h2 {
		a {
			letter-spacing: 2px;
			padding: 0 20px;
		}
	}
}

.links-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toggle-container {
	width: 36px;
}

.logo h2 {
	width: 160px;
}

@media (max-width: 940px) {
	nav {
		h2 {
			font-size: 1em;
		}
	}
}

@media (max-width: 700px) {
	.logo {
		h2 {
			display: none;
		}
	}
	nav {
		h2 {
			font-size: 0.8em;
		}
	}
	.nav-settings-dropdown {
			margin: 0;
			h2 {
				a {
					padding: 0;
				}
			}
	}
	.toggle-container {
		width: 115px;
	}
}

//BURGER

.no-cssvhunit {
	nav {
		height: 74px;
		p {
			line-height: 74px;
		}
		.desktop-only {
			li {
				line-height: 74px
			}
		}
	}
	.section-nav-offset {
		height: 74px;
	}
	.nav-dd {
		top: 74px;
		height: 74px;
		line-height: 74px;
	}
	.tablet-mobile-navigation {
		.nav-dd-tab {
			top: 74px;
		}
		.small-dd-tabet {
			top: 37px;
		}
	}
	.small-nav {
		height: 37px;
		p {
			line-height: 37px;
		}
		.desktop-only {
			li {
				line-height: 37px;
			}
		}
	}
	.small-dd {
		height: 37px;
		line-height: 37px;
		top: 37px;
	}
}

.cmn-toggle-switch {
  position: relative;
  width: 70px;
  height: 26px;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition:background 0.3s;
  -ms-transition:background 0.3s;
  -o-transition:background 0.3s;
  transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 19px;
  left: 12px;
  right: 12px;
  height: 3px;
  background: $color-one;
  border-radius: 1px;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $color-one;
  content: "";
  border-radius: 1px;
}

.cmn-toggle-switch span::before {
  top: -11px;
}

.cmn-toggle-switch span::after {
  bottom: -11px;
}

.cmn-toggle-switch__htx {
  background-color: transparent;
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}

.show {
	z-index: 1000;
	opacity: 1;
}

.hide {
	z-index: -5;
	opacity: 0;
}

.opacity-1 {
	background-color: rgba(3,3,3, 1);
}

.opacity-0 {
	background-color: rgba(3,3,3, 0);
}
