
@import "helpers/variables";
@import "base/fontello";
@import "base/typography";
@import "layout/footer";
@import "layout/navbar";
@import "layout/specifics";
@import "layout/grid";
@import "pages/about";
@import "pages/home";

body {
  background: #f6f6ef;
  margin: 0;
}

* {
  font-family: "Avenir Light", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, p {
  color: #333;
}

a {
  text-decoration: none;
  &:hover {
    font-weight: $color-one;
  }
}
