<div class='about'>
</div>

<div class='about-copy'>
	<div>
		<h2>We are a software shop based in Bethnal Green. We build web and mobile apps in React, React Native and Hapi.</h2>
		<h2>All of us are graduates of the coding school <a href="http://www.foundersandcoders.com/" target="_blank" >Founders & Coders</a>.</h2>
	</div>
</div>

<div class="us-container">
	<div class="team-image izaak"></div>
	<div class="team-image bes"></div>
	<div class="team-image nikhi"></div>
	<div class="team-image dan"></div>
	<div class="team-image jack"></div>
</div>
