<div class="content">
  <section class="grid-container">
    <div class="grid-2">
      <h1>This summer we will be teaching software craftsmanship to ambitious women and men in Palestine.</h1>
      <p>Where traditional industries are limited, software is a viable alternative. Fast internet and good equipment open the door to a global marketplace, where work can be both fulfilling and profitable.</p>
      <span class="space"></span>
      <p>In London, the Founders & Coders educational model sees 100% of its graduates go on to be full-stack JavaScript developers or tech entrepreneurs. This summer, Globetown, F&C and Novus will travel over 2000 miles and repeat this success with students and graduates at Birzeit University, in Palestine.</p>
      <span class="space"></span>
      <a href="/about/">Learn more</a>
    </div>
    <div class="grid-4">
      <div id="slider"></div>
    </div>
  </section>
</div>
