.content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 35px 0px;
  overflow: hidden;
  clear: both;

  section {
    width: 88.888%;
    margin: 0 0 0 11.111%;

    h1 {
    	line-height: 150%;
    	margin: 0px 0px 35px 0px;
    }

    p {
			line-height: 180%;
    }

    a {
      color: #268bd2;
      &:hover {
        text-decoration: underline;
        color: #dc322f;
      }
    }
  }

  #slider {
    width: 100%;
    background-size: cover;
    height: 600px;
    border: 1px solid #dedede;
    opacity:1;
    transition: opacity 1s;
  }

  .small-title {
    font-size: 13px;
    color: #F0652F;
    text-transform: uppercase;
  }

  #slider.fadeOut {
    opacity:0;
  }
}
