.service {
  max-width: 100%;
  background-color: $color-two;
  padding: 200px 0;
  .container {
    max-width: 900px;
    margin: auto;
    h1 {
      margin: 1em 0;
    }
    h2 {
      margin: 1em 0 0.5em 0;
    }
    * {
      line-height: 160%;
    }
  }
}
