.training {
  height: 100vh;
  background-image: url('/assets/images/training.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 5px;
  }
  * {
    color: white;
  }
  button {
    margin: 1.5em;
  }

}

.box-container {
  width: 80%;
  margin: auto;
  padding: 80px 30px;
  overflow: hidden;
  .grid-2 {
    margin: 20px 0;
  }
}

.box {
  margin: auto;
  border: 1px solid $color-three;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20vw;
  width: 30vw;
  background-color: $color-two;
}

@media (max-width: 600px) {
  .box {
    width: 90%;
    height: 200px;
  }
}

.training-copy {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px 5% 0;
	position: relative;
	div {
		max-width: 800px;
    width: 100%;
		margin: auto;
	}
	h1 {
		margin-bottom: 5%;
		font-size: 24px;
		line-height: 150%;
	}
	h1:last-child {
		margin-bottom: 0;
	}
  p {
    margin-bottom: 1em;
  }
  h2 {
    margin: 2em 0 1em 0;
  }
  h3 {
    margin-bottom: 0.5em;
    margin-top: 2em;
  }
  li {
    list-style: none;
    margin-bottom: 5px;
  }
}
