<div class='training'>
	<h1><span class="desktop">Practical t</span><span class="mobile">T</span>raining for software developers</h1>
	<p><span class="desktop">Globe Town offers h</span><span class="mobile">H</span>ands-on training in React and React Native.</p>
	<button class='button-one'>BOOK TRAINING</button>
</div>


<div class="box-container">
	<div class="grid-2">
		<div class="box">
			<h1>React Native</h1>
			<p>18th October</p>
		</div>
	</div>
	<div class="grid-2">
		<div class="box">
			<h1>React</h1>
			<p>26th October</p>
		</div>
	</div>
</div>


<div class='training-copy'>
	<div>
		<p>We also offer bespoke weekend courses at our offices in Bethnal Green. If you would like us to come to you that can also be arranged.</p>
		<p>We can provide training across our stack, including:</p>
		<%- partial("_stack.md") %>

	</div>
</div>
