<head>
  <title>Globe Town | Software Development | Training in React and React Native</title>
  <meta name="description" content="Globe Town | London's React Native Experts. We produce beautiful software and provide training, classes and workshops.">
  <link rel="stylesheet" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/favicon.ico">
</head>
