<header>
  <nav>
    <div class="links">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/faq/">FAQ</a>
    </div>
    <div class="apply">
      <a href="/academy/">Apply</a>
    </div>
  </nav>
</header>