<!DOCTYPE html>
<html>
  <%- partial("../_partials/header") %>
  <body>
    <%- partial("../_partials/navbar") %>
     <%- yield %>
  <footer>
    <script src="/js/main.js"></script>
  </footer>
  </body>
</html>
