<div class="content">
  <section class="title">
    <h1>Contact</h1>
  </section>
  <section class="about">
    <div class="grid-6" style="padding-right:10px">
      <p>Before contacting us, please check the Frequently Asked Questions, otherwise reach us at: <strong>hello@globetown.io</strong></p>
      <span class="space"></span>
    </div>
  </section>
</div>